MVCTestImageMatch/Service References/AnalysisNew/Analysis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Analysis" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9999/Analysis.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9999/Analysis.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9999/Analysis.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImageAnalysis" />
      <xsd:import schemaLocation="http://localhost:9999/Analysis.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageAnalysisService_MatchImage_InputMessage">
    <wsdl:part name="parameters" element="tns:MatchImage" />
  </wsdl:message>
  <wsdl:message name="IImageAnalysisService_MatchImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:MatchImageResponse" />
  </wsdl:message>
  <wsdl:message name="IImageAnalysisService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IImageAnalysisService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IImageAnalysisService">
    <wsdl:operation name="MatchImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageAnalysisService/MatchImage" message="tns:IImageAnalysisService_MatchImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageAnalysisService/MatchImageResponse" message="tns:IImageAnalysisService_MatchImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageAnalysisService/GetCategories" message="tns:IImageAnalysisService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageAnalysisService/GetCategoriesResponse" message="tns:IImageAnalysisService_GetCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImageAnalysisService" type="tns:IImageAnalysisService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MatchImage">
      <soap:operation soapAction="http://tempuri.org/IImageAnalysisService/MatchImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IImageAnalysisService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Analysis">
    <wsdl:port name="BasicHttpBinding_IImageAnalysisService" binding="tns:BasicHttpBinding_IImageAnalysisService">
      <soap:address location="http://localhost:9999/Analysis.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>