ConsoleImageServices/Service References/ServiceReference1/Analysis2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImageAnalysis" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImageAnalysis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MatchedImageResult">
    <xs:sequence>
      <xs:element name="_x003C_MatchedImages_x003E_k__BackingField" nillable="true" type="tns:ArrayOfMatchedImage" />
      <xs:element name="_x003C_PageIndex_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PageSize_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TotalCount_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchedImageResult" nillable="true" type="tns:MatchedImageResult" />
  <xs:complexType name="ArrayOfMatchedImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchedImage" nillable="true" type="tns:MatchedImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchedImage" nillable="true" type="tns:ArrayOfMatchedImage" />
  <xs:complexType name="MatchedImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchedImage" nillable="true" type="tns:MatchedImage" />
</xs:schema>